/* Totally didn't just snatch this off codepen cuz its late and im tired, hey at least I adjusted it to match kahoots colors */

body {
    animation: colorchange 50s; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 50s; /* Chrome and Safari */
    background-color: rgb(69, 163, 229); /*Not stolen from codepen trying to simulate doing it how kahoot does it lol*/
  }

  @keyframes colorchange
  {
    25%  {background: rgb(65, 196, 222);}
    50%  {background: rgb(140, 199, 63);}
    75%  {background: rgb(243, 211, 51);}
    100% {background: rgb(247, 142, 86);}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    25%  {background: rgb(65, 196, 222);}
    50%  {background: rgb(140, 199, 63);}
    75%  {background: rgb(243, 211, 51);}
    100% {background: rgb(247, 142, 86);}
  }