body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}
#pad {
    height: 30vh;
}
#pin { /*Basically just found important atributes on kahoot.it and adapted them to this page*/
    text-align: center;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    font-size: 1vw;
    padding: 8px;
}
h1 {
    font-size: 4vw;
    margin: 0px;
}
h2 {
    font-size: 2vw;
    margin: 1vw;
}
button {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    padding: 8px;
    border: none;
    margin: 8px;
}
.answer {
    margin: 4vh;
}